@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* background-color: rgb(56, 189, 248);
  background-image: radial-gradient(
      at 89% 91%,
      rgb(146, 64, 14) 0,
      transparent 73%
    ),
    radial-gradient(at 51% 48%, rgb(229, 231, 235) 0, transparent 80%),
    radial-gradient(at 27% 62%, rgb(82, 82, 91) 0, transparent 33%),
    radial-gradient(at 8% 87%, rgb(147, 51, 234) 0, transparent 80%),
    radial-gradient(at 30% 35%, rgb(219, 39, 119) 0, transparent 73%),
    radial-gradient(at 15% 70%, rgb(17, 94, 89) 0, transparent 73%); */


    /* background-color: rgb(204, 251, 241);
    background-image: radial-gradient(at 92% 84%, rgb(248, 113, 113) 0, transparent 77%), radial-gradient(at 45% 26%, rgb(249, 168, 212) 0, transparent 85%), radial-gradient(at 85% 54%, rgb(163, 163, 163) 0, transparent 92%), radial-gradient(at 60% 30%, rgb(233, 213, 255) 0, transparent 85%), radial-gradient(at 9% 54%, rgb(55, 65, 81) 0, transparent 87%), radial-gradient(at 31% 13%, rgb(244, 244, 245) 0, transparent 4%); */
  
}
